In [49]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import seaborn as sns

In [28]:
df=pd.read_csv(r'C:\PROJECT\BIA\Thane branch 2 Capstone project\ECom\ecom 3 - Vicky Dalvi\archive (1)\Pakistan Largest Ecommerce Dataset.csv')

In [29]:
df.drop(['Customer ID','created_at', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'sales_commission_code','increment_id','BI Status', ' MV ',"Working Date",'sku'],inplace = True ,axis=1)

In [30]:
df.drop('M-Y',axis = 1, inplace = True)

In [31]:
df["category_name_1"]=df["category_name_1"].replace("\\N",np.nan) ##converting ||N into Nan

In [32]:
##Dropping NULL values
df.dropna(subset=['category_name_1','status','price','qty_ordered','grand_total','category_name_1','discount_amount','payment_method','Year','Month','Customer Since','FY'], inplace=True)

In [33]:
status_list = ['closed','payment_review','pending','processing','holded','fraud','pending_paypal','exchange','\\N']
for col in status_list:
    df = df[df['status'] != col]
replace_dict = {'order_refunded':'refund','received':'complete','cod':'complete','paid':'complete'}

df['status'].replace(replace_dict, inplace=True)

In [34]:
expensive_item_orders = df[df['price'] > 1_000_000]
expensive_item_orders.head()

,item_id,status,price,qty_ordered,grand_total,category_name_1,discount_amount,payment_method,Year,Month,Customer Since,FY
509081,821284.0,canceled,1012625.9,1.0,1012625.9,Beauty & Grooming,0.0,jazzvoucher,2018.0,4.0,2016-11,FY18

In [35]:
expensive_item_orders = df[df['price'] > 400_000]
expensive_item_orders.head(10)

,item_id,status,price,qty_ordered,grand_total,category_name_1,discount_amount,payment_method,Year,Month,Customer Since,FY
207276,470222.0,canceled,479000.0,1.0,479000.0,Appliances,0.0,Easypay,2017.0,5.0,2017-5,FY17
207347,470297.0,canceled,479000.0,1.0,479000.0,Appliances,0.0,Easypay,2017.0,5.0,2017-5,FY17
251158,521539.0,canceled,479000.0,1.0,479000.0,Appliances,0.0,Easypay,2017.0,6.0,2017-6,FY17
251159,521542.0,refund,479000.0,1.0,479000.0,Appliances,0.0,Payaxis,2017.0,6.0,2017-6,FY17
309775,588634.0,canceled,515975.0,1.0,513975.0,Entertainment,2000.0,Payaxis,2017.0,10.0,2017-8,FY18
509081,821284.0,canceled,1012625.9,1.0,1012625.9,Beauty & Grooming,0.0,jazzvoucher,2018.0,4.0,2016-11,FY18

In [36]:
status = df[df['price'] > 10000][['status']]

In [37]:
payment_type = ['cod', 'ublcreditcard', 'mygateway', 'customercredit',
                'cashatdoorstep', 'mcblite', 'internetbanking', 'productcredit',
                'financesettlement', 'Payaxis', 'marketingexpense', 'jazzvoucher',
                'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher',
                'bankalfalah', 'apg']

categories = {'cod': 'cod',
              'Payaxis': 'Payaxis',
              'Easypay': 'Easypay',
              'jazzwallet': 'jazzwallet',
              'easypay_voucher': 'easypay_voucher',
              'bankalfalah': 'bankalfalah',
              'jazzvoucher': 'jazzvoucher',
              'Easypay_MA': 'Easypay_MA',
              'customercredit': 'customercredit'}

df['payment_method'] = df['payment_method'].apply(lambda x: categories[x] if x in categories else 'others')

In [38]:
df['payment_method'].value_counts()

cod                267369
Payaxis             96146
Easypay             82665
jazzwallet          34310
easypay_voucher     31048
bankalfalah         22972
jazzvoucher         15089
Easypay_MA          13945
customercredit       7482
others               4776
Name: payment_method, dtype: int64

In [39]:
one_hot = pd.get_dummies(df[['status', 'category_name_1','Customer Since', 'payment_method','FY']],drop_first = True)

# merge the one-hot encoded dataframe with the original dataframe
df = pd.concat([df, one_hot], axis=1)

# drop the original categorical columns
df.drop(['item_id','status', 'category_name_1','Customer Since', 'payment_method','FY','grand_total'], axis=1, inplace=True)

In [40]:
#df.to_csv(r"C:\PROJECT\BIA\Thane branch 2 Capstone project\ECom\ecom 3 - Vicky Dalvi\anil\intermediate.csv")

In [41]:
df= df[df['status_complete'] == 1]

In [42]:
df = df.reset_index(drop=True)

In [54]:
df = pd.read_csv('C:\PROJECT\BIA\Thane branch 2 Capstone project\ECom\ecom 3 - Vicky Dalvi\streamlit.csv')

In [55]:
df = df.iloc[:,1:]

In [56]:
df.head()

,price,qty_ordered,discount_amount,Year,Month,status_complete,status_refund,category_name_1_Beauty & Grooming,category_name_1_Books,category_name_1_Computing,...,payment_method_Payaxis,payment_method_bankalfalah,payment_method_cod,payment_method_customercredit,payment_method_easypay_voucher,payment_method_jazzvoucher,payment_method_jazzwallet,payment_method_others,FY_FY18,FY_FY19
0,1950.0,1.0,0.0,2016.0,7.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,360.0,1.0,300.0,2016.0,7.0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,360.0,1.0,300.0,2016.0,7.0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,170.0,1.0,0.0,2016.0,7.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5500.0,1.0,0.0,2016.0,7.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [57]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

#df = pd.read_csv(r'C:\PROJECT\BIA\Thane branch 2 Capstone project\ECom\ecom 3 - Vicky Dalvi\streamlit1.csv')
df.drop(['status_refund','status_complete'],inplace = True,axis = 1)

X = df.drop('price', axis=1)
y = df['price']

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# create a random forest regression model
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# fit the model to the training data
rf.fit(X_train, y_train)

# make predictions on the testing data
y_pred = rf.predict(X_test)

# evaluate the model using R-squared and mean squared error metrics
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print('R-squared:', r2)
print('Mean squared error:', mse)

R-squared: 0.7612023800657104
Mean squared error: 21902940.365872864

In [58]:
import pickle

with open('rf_model_updated.pkl', 'wb') as f:
    pickle.dump(rf, f)

In [59]:
df.head()

,price,qty_ordered,discount_amount,Year,Month,category_name_1_Beauty & Grooming,category_name_1_Books,category_name_1_Computing,category_name_1_Entertainment,category_name_1_Health & Sports,...,payment_method_Payaxis,payment_method_bankalfalah,payment_method_cod,payment_method_customercredit,payment_method_easypay_voucher,payment_method_jazzvoucher,payment_method_jazzwallet,payment_method_others,FY_FY18,FY_FY19
0,1950.0,1.0,0.0,2016.0,7.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,360.0,1.0,300.0,2016.0,7.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,360.0,1.0,300.0,2016.0,7.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,170.0,1.0,0.0,2016.0,7.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5500.0,1.0,0.0,2016.0,7.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [60]:
y_pred_train = rf.predict(X_train)

r2_test = r2_score(y_test, y_pred)
r2_train = r2_score(y_train, y_pred_train)

print("Train Score",r2_train)
print("Test Score",r2_test)

Train Score 0.8373758717401423
Test Score 0.7612023800657104

In [25]:
df.columns

Index(['Unnamed: 0', 'price', 'qty_ordered', 'discount_amount', 'Year',
       'Month', 'category_name_1_Beauty___Grooming', 'category_name_1_Books',
       'category_name_1_Computing', 'category_name_1_Entertainment',
       'category_name_1_Health___Sports', 'category_name_1_Home___Living',
       'category_name_1_Kids___Baby', 'category_name_1_Mens_Fashion',
       'category_name_1_Mobiles___Tablets', 'category_name_1_Others',
       'category_name_1_School___Education', 'category_name_1_Soghaat',
       'category_name_1_Superstore', 'category_name_1_Womens_Fashion',
       'Customer_Since_2016_11', 'Customer_Since_2016_12',
       'Customer_Since_2016_7', 'Customer_Since_2016_8',
       'Customer_Since_2016_9', 'Customer_Since_2017_1',
       'Customer_Since_2017_10', 'Customer_Since_2017_11',
       'Customer_Since_2017_12', 'Customer_Since_2017_2',
       'Customer_Since_2017_3', 'Customer_Since_2017_4',
       'Customer_Since_2017_5', 'Customer_Since_2017_6',
       'Customer_Since_2017_7', 'Customer_Since_2017_8',
       'Customer_Since_2017_9', 'Customer_Since_2018_1',
       'Customer_Since_2018_2', 'Customer_Since_2018_3',
       'Customer_Since_2018_4', 'Customer_Since_2018_5',
       'Customer_Since_2018_6', 'Customer_Since_2018_7',
       'Customer_Since_2018_8', 'payment_method_Easypay_MA',
       'payment_method_Payaxis', 'payment_method_bankalfalah',
       'payment_method_cod', 'payment_method_customercredit',
       'payment_method_easypay_voucher', 'payment_method_jazzvoucher',
       'payment_method_jazzwallet', 'payment_method_others', 'FY_FY18',
       'FY_FY19'],
      dtype='object')